bpmProvedores/SOA/businessCatalog/Module/BOProvedores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="Module.BOProvedores" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Module/BOProvedores" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Module/BOProvedores"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BOProvedoresType">
        <xs:sequence>
            <xs:element name="canntidad" nillable="true" type="xs:int"/>
            <xs:element name="decripcion" nillable="true" type="xs:string"/>
            <xs:element name="aprovacion" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BOProvedores" type="BOProvedoresType"/>
</xs:schema>
